<ion-header>
  <ion-toolbar>
    <ion-title>Un-Timetable+</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div>
    <ion-item class="itcircular">
      <ion-label>University</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="blank">-</ion-select-option>
        <ion-select-option value="brunel">Brunel University</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  </ion-list>

  <ion-button href="/auth">
    Log In
  </ion-button>
</ion-content>
