<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/list-view"></ion-back-button>
    </ion-buttons>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center" >
    <ion-row class="ion-padding" >
      <ion-col >
        <ion-button>
          <p>My Module</p>
        </ion-button>

      </ion-col>
      <ion-col>
        <ion-button>
          <p>All Module</p>
        </ion-button>

      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-button>
          <p>All Course</p>
        </ion-button>

      </ion-col>
      <ion-col>
        <ion-button>
          <p>Rooms</p>
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>